<app-section titulo="Contas Correntes">
  <div class="row">

    <div class="col-md-9">
      <span>Nome</span>
    </div>
    <div class="col-md-3">
      <span>Valor</span>
    </div>
  </div>
  <div *ngFor="let entity of lista" class="row">
    <div class="col-md-9">
      {{entity.nome}}
    </div>
    <div class="col-md-3">
      {{entity.saldo | currency:'R$ '}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 border-top mt-2 pt-3">
      <a class="btn btn-outline-light text-uppercase" routerLink="/conta-corrente"> Voltar</a>
      <a class="btn btn-outline-light text-uppercase" routerLink="/conta-corrente/cadastro"> Cadastrar</a>
    </div>
  </div>
</app-section>
